* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    border: none !important;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* This is the main rebate Modal */

.display-rebate-modal {
    animation: displayModal .5s ease-in-out normal forwards;
    -webkit-animation: displayModal .5s ease-in-out normal forwards;
}

@keyframes displayModal {
    from {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.hide-rebate-modal {
    animation: hideModal .5s ease-in-out normal forwards;
    -webkit-animation: hideModal .5s ease-in-out normal forwards;
}

@keyframes hideModal {
    from {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}


/* This is the rebate modal content */

.display-rebate-modal-content {
    animation: displayModalContent .8s ease-in-out normal forwards;
    -webkit-animation: displayModalContent .8s ease-in-out normal forwards;
}

@keyframes displayModalContent {
    from {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.hide-rebate-modal-content {
    animation: hideModalContent 1.5s ease-in-out normal forwards;
    -webkit-animation: hideModalContent 1.5s ease-in-out normal forwards;
}

@keyframes hideModalContent {
    from {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}


/* This is the main content */

.rebate-modal-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.701);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid green;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.rebate-modal-exit-icon-container {
    position: fixed;
    width: 100%;
    border: 1 px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rebate-modal-exit-icon-box {
    border: 1px solid #fff;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    margin: 0 auto;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    cursor: pointer;
}

.rebate-modal-exit-icon-box:hover {
    color: #f7150d;
}

.rebate-modal-wrapper {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.rebate-modal-content {
    width: 50%;
    max-width: 1000px;
    min-width: 300px;
    height: 70%;
    max-height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    background-color: #fff;
    box-shadow: 0 5px 20px #000;
    overflow: auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rebate-modal-form-container {
    width: 90%;
    height: 50%;
}

.rebate-modal-content-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #404040;
}

.rebate-modal-content-img>img {
    width: 40%;
    min-width: 250px;
}

.rebate-modal-form-container>form {
    width: 90%;
    max-width: 500px;
    height: 100%;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 15px 0;
    margin: 0 auto;
}

.rebate-modal-form-container>form>input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.rebate-modal-form-container>form>label {
    width: 100%;
    color: #404040;
    text-align: left !important;
    font-weight: 600;
}

.rebate-submit-btn {
    width: 70% !important;
    background-color: #f7150d;
    color: #fff;
    border: none !important;
    padding: 15px 0 !important;
    font-size: .9rem;
}

.rebate-modal-btn-container {
    width: 20%;
    background-color: #f7150d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.rebate-modal-btn-container>a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
}

@media only screen and (max-height:700px) {
    .rebate-modal-content {
        height: 90%;
    }
}

@media only screen and (max-height:500px) {
    .rebate-modal-form-container {
        height: 100%;
    }
    .rebate-modal-form-container>form>label {
        font-size: .7rem;
    }
    .rebate-submit-btn {
        font-size: .7rem;
    }
    .rebate-modal-content-img>img {
        width: 35%;
    }
    .rebate-modal-form-container>form>input {
        width: 87% !important;
        padding: 5px;
    }
    .rebate-modal-form-container>form {
        height: 55%;
    }
    .rebate-modal-form-container>form>label {
        width: 90%;
    }
}

@media only screen and (max-height:450px) {
    .rebate-modal-wrapper {
        height: 100%;
    }
    .rebate-modal-content-img {
        width: 50%;
    }
    .rebate-modal-form-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .rebate-modal-form-container>form {
        width: 95%;
        height: 77%;
    }
    .rebate-modal-content-img>img {
        width: 35%;
        min-width: 150px;
    }
}

@media only screen and (max-height:320px) {
    .rebate-modal-form-container {
        height: 88% !important;
    }
}

@media only screen and (max-width:320px) {
    .rebate-modal-content {
        width: 90%;
        height: 80%;
    }
    .rebate-modal-form-container {
        height: 50%;
    }
    .rebate-modal-form-container>form {
        height: 100%;
    }
    .rebate-modal-form-container>form>label {
        font-size: .8rem;
    }
    .rebate-submit-btn {
        font-size: .8rem;
    }
}